*.gz
*.tar
*.npy
*.pyc
__pycache__/
.kaggle-cli/
data/*
.smt/
.idea/
.ropeproject/
notebooks/.ipynb_checkpoints/
# Because I have a mercurial AND git repo at the same
.git/
.hg/
commit.sh
produced_data/
*.yaml
notebooks/*.csv
notebooks/*.pdf